/*観光画面*/
.App {
  height: 93vh;
  width: 52vw;
  overflow-y: scroll;
  padding-right: 10px;
}

.plan :hover {
  cursor: pointer;
}

/*new css*/
body {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 20px;
  background-color: #fec7d7;
}

* {
  color: #0e172c;
  font-family: "M PLUS Rounded 1c", sans-serif;
  border-radius: 3px;
}

/*ボタン*/

button {
  height: 35px;
  font-weight: 500;
  font-size: 1em;
  width: 45%;
  background-color: #0e172c;
  border: none;
  border-radius: 3px;
  color: #fffffe;
}

.buttonParent {
  display: flex;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.radioButton {
  accent-color: black;
}

.back_button_parent .buttonParent button {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0vw;
  width: 40px;
  height: 40px;
}

.next_button_parent {
  width: 52vw;
  position: absolute;
  bottom: 2px;
}

.next_button_parent button {
  margin: 0 auto 17px auto;
}

/*スクロールバー*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #b6b5b5;
  border-radius: 5px;
}

/*画面分割*/
#root {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin-top: 5px;
  /* min-height: 100vh; */
}

#main-container {
  display: flex;
  flex-direction: column;
  /* height: 90%; */
}

#content-container {
  display: flex;
  justify-content: space-around;
  /* flex-grow: 1; 利用可能なスペースを埋める */
}

/* クレジット表記 */
footer {
  height: 7vh;
  width: 94vw;
  position: absolute;
  bottom: 0;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}