/*観光画面*/
.App {
  height: 99vh;
  width: 52vw;
  overflow-y: scroll;
}



/*setting*/
.setting {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.setting * {
  margin: auto 0 auto;
}

.setting h2 {
  padding-bottom: 15px;
  font-size: larger;
}

.setting .radioButton {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 20px;
}

.plan {
  background-color: #b6b5b5;
  border: none;
  margin: auto;
}

.plan :hover {
  cursor: pointer;
}

.setting .radioButton {
  display: flex;
  justify-content: space-evenly;
}




/*new css*/
body {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 20px;
  background-color: #fec7d7;
}

* {
  color: #0e172c;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*ボタン*/

button {
  height: 35px;
  font-weight: 500;
  font-size: 1em;
  width: 45%;
  background-color: #0e172c;
  border: none;
  border-radius: 3px;
  color: #fffffe;
}

.buttonParent {
  display: flex;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.radioButton {
  accent-color: black;
}

/*スクロールバー*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #b6b5b5;
  border-radius: 5px;
}

/*画面分割*/
#root {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}