.Avatar {
    height: 93vh;
    width: 42vw;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.AvatarCanvas {
    height: 60vh;
    border-radius: 20px;
    border: solid #fffffe 10px;
}

.AvatarText {
    background-color: #fffffe;
    border-radius: 20px;
    height: 15vh;
    display: table;
}

.AvatarText * {
    display: table-cell;
    vertical-align: middle;
}


.Avatar button {
    visibility: hidden;
    position: fixed;
    bottom: 100vh;
}

.Avatar .sendText {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.Avatar textarea {
    height: 10vh;
    width: 72%;
    border-radius: 20px;
    padding: 18px;
}

.Avatar .sendTextButton {
    visibility: visible;
    position: static;
    background-color: #a786df;
    color: #fffffe;
    width: 18%;
}